{% extends 'LowpressWordpressBundle::layout.html.twig' %}
{% block content %}

	<header>

		<div class="page-header">
			<h2>Hello!</h2>
		</div>
	</header>
	
	
	<section>
				
		<p>This is a symfony controller displaying a twig template, but including the wordpress framework. The wordpress parts (header, footer, sidebar) are all rendering out twig templates.</p>

	</section>
	
{% endblock %}