<div class="meta">
	<em>Posted on:</em> {{ lowpress_the_time('F jS, Y') }}
	<em>by</em> {{ lowpress_the_author('', false) }}
	{{ lowpress_comments_popup_link('No Comments', '1 Comment', '% Comments', 'comments-link', '') }}
</div>